* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

img {
  width: 90%;
  height: 95%;
}

.grid-four--cols {
  width: 100%;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  width: 90%;
  padding: 0.5rem 1rem;
}
